//logo

.imgLogo{
	width: 180px;
}

//body

body {
  background-image: url(../css/img/ki4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

//nav carousel

.encabezado__img--fluid {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  padding: 10px;
}

