@import "./_vars.scss";
@import "./_commons.scss";
@import "./_imagen.scss";
@import "./_navBar.scss";
@import "./section";
@import "./_footer";



/* ver 
.tituloH2{
	margin-top: 30px;
}

.tituloH1{
	margin-bottom: 30px;
}

.divCenter{
	text-align: center;
}

.btn-g{
	background-color: #c0d3cb;
}

.mainOsteopatia{
  display: flex;
  margin-right: 100px;
  margin-left: 100px;
 }

.transform:hover{
  transform: translatey(-12px);
  cursor: pointer;
 }

.imgIndex{
 display: flex;
  width:100%; 
  height:auto;
  padding-bottom: 20px;
}

 }
*/